doctype html
html
    head
        title Cache warmer
        style
            include cache-warmer.css
body
    button(id='asdf') /sitemap.xml
    ol(id='out')
    table
        caption Results
        thead
            tr
                th url
                th time
        tbody
    iframe(class='loader')
    iframe(class='loader')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script
        include:coffee cache-warmer.coffee
